<div class="social-box shareit">
<ul id="sharethis" class="social-buttons cf">
    <li>
        <a href="http://twitter.com/share" class="socialite twitter-share" data-text="{{ page.title }}" data-size="large" data-url="{{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a> &nbsp;
    </li>
    <li>
      <a href="https://twitter.com/twitortat" class="twitter-follow-button" data-show-count="true" data-size="large" data-count="vertical" data-dnt="true">Follow @twitortat</a>
    </li>
</ul>
</div>
